<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>Shared Folder: <%= folder.name %>
  </h1>
  <p>Valid until: <%= formatExactDate(expiresAt) %>
  </p>

  <ul>
    <% folder.files.forEach(file=> { %>
      <li>
        <img src="<%= file.cloudUrl %>" width="100">
        <%= file.displayName %>
          <a href="/share/<%= file.id %>/download">
            <button type="button">Download File</button>
          </a>
      </li>
      <% }) %>
  </ul>
</body>

</html>